!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}
    %title Delayed Job Dashboard
  %body
    #main
      = yield

    %script{src: "bundle.js", type: "text/javascript"}
